<template name="Club">
  {{#if Template.subscriptionsReady}}
    <div class="ui two column doubling stackable grid container padded">
      <div class="column">
        <div class="ui raised link centered card">
          <div class="content">
            <div class="header">{{club.clubName}}</div>
            <div class="meta">
              <span class="category">{{club.interests}}</span>
            </div>
            <div class="description">
              <p>{{club.clubDescription}}</p>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated like">
              <i class="like icon {{clubLiked}}"></i>
              {{#if clubLiked}}
                Unlike
              {{else}}
                Like
              {{/if}}
            </span>
            <div class="right floated author">
              <img class="ui avatar image" src="{{ club.picture }}">
              {{club.username}}
            </div>
          </div>
        </div>
        <div class="ui horizontal divider">info</div>
        <div class="ui centered grid padded">
          <div class="ui statistics">
            <div class="center aligned">
              <div class="statistic">
                <div class="value">
                  <i class="like icon"></i> {{club.likes}}
                </div>
                <div class="label">
                  Likes
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui threaded comments">
          <h3 class="ui dividing header">Comments</h3>

          {{#each comment in comments }}
             {{> Comment comment=comment }}
          {{/each}}
          {{#if pages}}
            <div class="ui container center aligned">
              <div class="ui pagination menu">

                {{#each number in pages }}
                  <a class="paginate item" data-paginate-index={{@index}}>
                    {{number}}
                  </a>
                {{/each}}

              </div>
            </div>
          {{/if}}
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            <button class="ui blue button" type="submit"><i class="icon edit"></i> Add Reply</button>
          </form>
        </div>
      </div>
    </div>
  {{/if}}
</template>
