<template name="Comment">
  {{#if Template.subscriptionsReady}}
    <div class="comment">
      <a class="avatar">
        <img src="{{comment.picture}}">
      </a>
      <div class="content">
        <a class="profileId author">{{comment.author}}</a>
        <div class="metadata">
          <span class="date">{{comment.date}}</span>
        </div>
        <div class="text">
          {{comment.text}}
        </div>
        <div class="actions">
          <!-- <a class="reply">Reply</a> -->
          {{#if comment.owner}}
            <i style="cursor: pointer;" data-commentId={{comment._id}} class="remove icon"></i>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
